[user]
  email = 104033825+Azpect3120@users.noreply.github.com
	name = Azpect3120
[pull]
	rebase = false
[core]
	editor = nvim
[credential]
	helper = cache
[alias]
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
	lg = lg1
	adog = log --all --decorate --oneline --graph
	b = !git --no-pager branch
	br = !git --no-pager branch
[core]
  pager = less -r
